@font-face {
  font-family: 'Arial-MT';
  src: url('../assets/fonts/Arial-MT.woff');
}

@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-width: 480px; */
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  @media screen and (min-width: 520px) {
    min-width: 520px;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap;
  /* height: 30vh; */
  /* min-height: 220px; */
  padding: 20px;
}

.wrap-container {
  display: flex;
  /* justify-content: space-between;*/
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.progress-time-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.progress {
  width: 100%;
}

.progress_container {
  margin-bottom: 10px;
}

input.progress:hover {
  cursor: pointer;
}

.audio-duration {
  display: flex;
}

.audio-duration > * {
  padding: 2px;
}

.volume_icon {
  background-image: url('../assets/svg/audio_volume.svg');
}

.mute {
  background-image: url('../assets/svg/audio_volume_mute.svg');
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* margin-bottom: 20px; */
}

.play-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.play-item {
  display: flex;
  align-items: center;
  gap: 5px;
  /* padding: 5px; */
  /* padding-left: 20px; */
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;

  overflow: hidden; /* hide any overflow */
  text-overflow: ellipsis; /* add ellipsis to the end of the text */
  white-space: nowrap;
}

.play-item:hover {
  opacity: 1;
}

.play.play-track {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.play-track.pause {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.item-active {
  font-weight: 700;
}

.item-active::before {
  color: #1e90ff;
}

.blur-box {
  min-height: 150px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: hsl(0, 0%, 100%, 0.15);
  padding: 15px;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.1),
    0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
}

.player {
  display: flex;
  gap: 20px;
  /* @media screen and (max-width: 767px) {
    flex-direction: column;
  } */
}

.player-nav {
  /* width: 250px; */
}

.player-icon,
.slider-icon,
.change-quote,
.volume_icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.volume_icon-size {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../assets/svg/play.svg');
}

.pause {
  background-image: url('../assets/svg/pause.svg');
}

.play-prev {
  background-image: url('../assets/svg/play-prev.svg');
}

.play-next {
  background-image: url('../assets/svg/play-next.svg');
}

.weather-wrapper {
  display: block;
  /* width: 250px; */
  min-width: 210px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.weather ul {
  width: 100%;
  list-style: none;
}

.weather-info-list > li {
  display: flex;
  justify-content: space-between;
}

.last-updated-text {
  margin-top: 10px;
  color: #d3d3d3;
  font-size: 14px;
  border-top: 1px #d3d3d3 solid;
}

.weather-error {
  margin-top: 10px;
  color: rgb(252, 179, 179);
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 40vh;
  min-height: 260px; */
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url('../assets/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('../assets/svg/slider-next.svg');
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  /* min-height: 28px; */
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: 0.6;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* flex-direction: column; */
}

.radio_container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  background-color: #cecece;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 9999px;
  box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

input.city {
  display: block;
}

input[type='radio'] {
  appearance: none;
  display: none;
  cursor: pointer;
}

label {
  font-family: 'Open Sans', sans-serif;
  /* font-size: 16px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  /* width: 80px;
  height: 30px; */
  text-align: center;
  border-radius: 9999px;
  overflow: hidden;
  transition: linear 0.3s;
  color: #6e6e6edd;
  cursor: pointer;
}

input[type='radio']:checked + label {
  background-color: #1e90ff;
  color: #f1f3f5;
  font-weight: 700;
  transition: 0.3s;
}

.footer,
.quotes-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /* height: 30vh; */
  /* min-height: 160px; */
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-contacts {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style-type: none;
}

.logo {
  width: 70px;
  height: 35px;
}
.gh-logo {
  width: 30px;
}

.github-link {
  text-decoration: none;
  color: white;
}
.github-link:hover {
  transform: scaleX(1.1);
}

.change-quote {
  margin-bottom: 30px;
  background-image: url('../assets/svg/reload.svg');
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .header {
    align-items: center;
  }

  .player {
    width: 250px;
    flex-direction: column;
    gap: 0;
  }

  .play-list {
    gap: 5px;
  }

  .weather-wrapper {
    width: 250px;
  }

  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 30px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: inherit;
    padding: 5px;
  }

  .player-icon,
  .slider-icon,
  .change-quote,
  .volume_icon {
    width: 26px;
    height: 26px;
    background-size: 26px 26px;
  }
}

@media (max-width: 580px) {
  .blur-box {
    height: fit-content;
  }

  .time {
    min-height: 10px;
    font-size: 62px;
  }

  .date {
    font-size: 20px;
  }

  .greeting-container {
    font-size: 28px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .header {
    flex-direction: column;
  }

  .weather {
    width: 100%;
    gap: 20px;
    flex-direction: row;
    align-items: flex-end;
  }

  .weather-title-wrapper {
    display: block;
  }

  label {
    width: 52px;
  }

  .change-quote {
    margin-bottom: 20px;
  }

  .city {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .quotes-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .player {
    flex-direction: column;
  }

  .player-icon,
  .change-quote,
  .volume_icon {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }

  .body {
    font-size: 14px;
  }

  .name,
  .greeting-container {
    font-size: 20px;
  }

  .date {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .time {
    font-size: 52px;
  }

  .player-icon,
  .slider-icon,
  .change-quote,
  .volume_icon {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
}

/*********************************************
Floating Menu:
**********************************************/

ul.fmenu {
  color: #fff;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

ul.fmenu > li.fmenu-item {
  display: inline-block;
  margin-right: 1rem;
  position: relative;
}

.trigger-menu {
  display: flex;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 3rem;
  max-width: 3rem;
  height: 3rem;
  border: calc(3rem * 0.3 / 2) solid transparent;
  border-radius: 3rem;
  overflow: hidden;
  text-align: center;
  background-color: #505050;
  cursor: pointer;
  transition: max-width ease 0.4s;
}

.trigger-menu i {
  display: block;
  margin: 0 calc(3rem * 0.195 / 2);
  color: white;
  font-size: calc(3rem * 0.5);
  transition: color ease 0.3s;
}

.trigger-menu span {
  display: block;
  font-size: 1rem;
  padding: 0 1ch;
}

.trigger-menu.expanded {
  max-width: unset !important;
}

.trigger-menu.open i {
  color: #ffd53e;
}

.trigger-menu:hover:not(.expanded) i {
  color: #ffd53e;
}

.floating-menu {
  display: block;
  position: absolute;
  /* bottom: 3rem * 1.25; */
  /* top: 3rem * 1.25; */
  bottom: calc(3rem * 1.25);
  min-width: 100%;
  max-width: 250px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #505050;
  border-radius: 0.75rem;
  overflow: hidden;
  max-height: 0px;
  z-index: 100;
  opacity: 0;
  transition: max-height ease 0.6s, opacity ease 0.3s;
}
.floating-menu > li {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;

  color: #fff;
  font-size: 0.85rem;
  text-decoration: none;
  /* display: block; */
  padding: 0.75rem 0.5rem;
}

/* .floating-menu > li a {
  color: #fff;
  font-size: 0.85rem;
  text-decoration: none;
  display: block;
  padding: 0.75rem 0.5rem;
} */

.floating-menu > li i {
  margin-right: 1ch;
}

.floating-menu > li:hover {
  color: #ffd53e;
}

.floating-menu > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
