$green: #499a18;
$orange: #e06733;
$grey: #717171;
$white: #ffffff;
$black: #000000;
$main-color: #636060;
$links-color: #010201;
$background-color: #edf2ec;

$transition-duration: 250ms;
$transition-timing-function: ease-in-out;
