$green: #499a18;
$orange: #e06733;
$grey: #717171;
$white: #ffffff;
$black: #000000;
$main-color: #636060;
$links-color: #010201;
$background-color: #edf2ec;
$border-color: #e3e1d5;
$arrow-background: #d9d9d9;
$select-background: #d6e7d2;
$select-arrow: #aea1a1;
$select-dropdown: #dce9d9;
$active-select: #c1e698;

$transition-duration: 300ms;
$transition-timing-function: ease-in-out;

$inika: 'Inika', serif;
$inter: 'Inter', sans-serif;
