html {
  scroll-behavior: smooth;
  // overflow-y: scroll;
}

body {
  // width: 1440px;
  margin: 0 auto;
  // font-family: $inika;
  font-family: $inter;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(35 / 20);
  color: $grey;
  background-color: $background-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-right: 109px;
  padding-left: 109px;
}

.header {
  font-weight: 400;
  font-size: 40px;
  line-height: calc(52 / 40);
  font-family: '', serif;
  color: $green;
}
