footer .footer__social a, .circle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item__link:hover, .nav-item__link:focus, .btn {
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.75;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-right: 109px;
  padding-left: 109px;
}

.header {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.3;
  font-family: "Inika", serif;
  color: #499a18;
}

.circle-btn {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  border-radius: 10px;
  border: 2px solid #e06733;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background-color: #e06733;
  color: #ffffff;
}

.logo {
  display: flex;
  gap: 1px;
  align-items: baseline;
  font-size: 16px;
  line-height: 1.3125;
  font-family: "Inika", serif;
  color: #000000;
}
.logo span {
  font-size: 16px;
  line-height: 1.3125;
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 46px;
}
.nav-item {
  padding: 42px 1px;
}
.nav-item__link {
  line-height: 3.125;
  font-family: "Inika", serif;
  font-size: 16px;
  color: #010201;
}
.nav-item__link:hover, .nav-item__link:focus {
  color: #e06733;
  font-weight: 700;
}

.welcome-btn {
  padding: 11px 26px;
  margin-bottom: 31.4px;
}
.welcome-container {
  padding-top: 62px;
  padding-bottom: 62px;
}
.welcome__background {
  background-image: url("../img/leafs.png");
  background-repeat: no-repeat;
}
.welcome__wrapper {
  width: 549px;
  padding-top: 36px;
  margin-left: auto;
}
.welcome__header {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1111111111;
  margin-bottom: 42px;
}
.welcome__header span {
  color: #499a18;
}
.welcome__text {
  margin-bottom: 48px;
}

.about {
  background-color: #ffffff;
}
.about-container {
  padding-top: 93px;
  padding-bottom: 94px;
}
.about__wrapper {
  width: 549px;
  padding-top: 68px;
  padding-bottom: 61px;
}
.about__background {
  background-image: url("../img/houseplant.png");
  background-repeat: no-repeat;
  background-position: right;
}
.about__header {
  max-width: 463px;
  margin-bottom: 39px;
}
.about__header span {
  color: #e06733;
}

.about__text {
  width: 605px;
  font-size: 20px;
  line-height: 1.5;
}

.service .wrapper {
  display: flex;
  gap: 142px;
  margin-bottom: 78px;
}
.service-container {
  padding-top: 38px;
  padding-bottom: 121px;
}
.service__header {
  max-width: 306px;
}
.service__buttons {
  display: flex;
  gap: 38px;
  align-items: center;
}
.service-btn {
  min-width: 161px;
  padding: 10px 40px;
  font-size: 20px;
  font-family: "Inika", serif;
  line-height: 1.3;
  border-radius: 5px;
  color: #e06733;
}
.service__gallery {
  display: flex;
  row-gap: 55px;
  -moz-column-gap: 117px;
       column-gap: 117px;
  flex-wrap: wrap;
}
.service__gallery-item {
  max-width: 329px;
}
.service__gallery-image {
  border-radius: 20px 20px 0 0;
}
.service__gallery-text {
  padding-top: 10px;
  padding-bottom: 36px;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-radius: 0 0 20px 20px;
}
.service__gallery .gallery-item-header {
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  font-family: "Inter", sans-serif;
  color: #e06733;
}
.service__gallery .gallery-item-header + p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.prices {
  background-color: #ffffff;
}
.prices-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 115px;
}
.prices-block {
  display: inline-block;
  padding: 32px 41px;
  margin-bottom: 14px;
  border-radius: 20px;
  border: 1px solid #e3e1d5;
}
.prices-block__item {
  min-width: 250px;
  padding: 16px 40px;
  background-color: #edf2ec;
  border-radius: 20px;
  border: 1px solid inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prices-block__item:not(:last-of-type) {
  margin-bottom: 30px;
}
.prices-block span {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.prices-block__btn {
  background-color: #d9d9d9;
}
.prices-arrow {
  stroke: #717171;
}
.prices__header {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  color: #000000;
}
.prices .contact {
  text-align: end;
  background-image: url("../img/leafsSmall.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.prices .contact-header {
  max-width: 452px;
  margin-bottom: 38px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  font-family: "Inter", sans-serif;
  color: #000000;
}
.prices .contact-header span {
  color: #499a18;
}
.prices .contact-btn {
  padding: 11px 32px;
  color: #e06733;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  font-family: "Inika", serif;
  border-radius: 5px;
}
.prices .contact-btn:hover, .prices .contact-btn:focus {
  color: #ffffff;
}

.contacts-container {
  padding-top: 55px;
}
.contacts .wrapper {
  height: 497px;
  background-image: url("../img/contact_woman.png");
  background-repeat: no-repeat;
}
.contacts__header {
  margin-bottom: 37px;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 1.3;
}
.contacts .select {
  width: 450px;
  margin-left: auto;
  padding: 5px 35px 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contacts .select-arrow {
  stroke: #ffffff;
}
.contacts__btn {
  background-color: #aea1a1;
}

footer {
  background-color: #fff;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.5;
}
footer a:hover {
  color: #e06733;
  fill: #e06733;
  stroke: #e06733;
}
footer .footer-container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__contacts, footer .footer__social {
  display: inline-flex;
  gap: 20px;
}
footer .footer__social a {
  width: 32px;
  height: 32px;
  transition-property: fill, stroke, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}/*# sourceMappingURL=main.css.map */