footer .footer__social a, .circle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown__list-item, .dropdown__list, .prices .accordion-body-button, .prices .accordion-btn-icon, .prices .accordion-open-btn, .prices .accordion-item, .nav-item__link:hover, .nav-item__link:focus, .nav-item__link:active, .btn:disabled, .btn {
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #edf2ec;
  line-height: 1.75;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 109px;
    padding-left: 109px;
  }
}

.header {
  font-size: 25px;
  line-height: 1.32;
  font-family: "Inika", serif;
  color: #499a18;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .header {
    font-size: 35px;
    line-height: 1.3142857143;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    font-size: 40px;
    line-height: 1.3;
  }
}

.circle-btn {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

body.noscroll {
  overflow: hidden;
}

.btn {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3333333333;
  font-family: "Inter", sans-serif;
  border: 1px solid #e06733;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    border: 2px solid #e06733;
  }
}
.btn:hover, .btn:focus {
  background-color: #e06733;
  color: #ffffff;
}
.btn:disabled {
  background-color: none;
  color: lightslategray;
  border: 1px solid lightslategray;
  cursor: default;
}

header {
  padding-top: 35px;
  padding-bottom: 35px;
}

.logo {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  line-height: 1.3125;
  font-family: "Inika", serif;
  color: #000000;
}
.logo span {
  font-size: 16px;
  line-height: 1.3125;
  font-weight: 400;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .navbar__wrap {
    gap: 46px;
  }
}

.navbar__wrap .menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar__wrap .menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 46px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .nav-item {
    padding: 35px 1px;
  }
}
@media screen and (min-width: 1440px) {
  .nav-item {
    padding: 42px 1px;
  }
}
.nav-item__link {
  padding: 10px 1px;
  line-height: 2.5;
  font-family: "Inika", serif;
  font-size: 24px;
  color: #010201;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .nav-item__link {
    padding: 35px 1px;
    font-size: 16px;
    line-height: 3.125;
    font-weight: 400;
  }
}
@media screen and (min-width: 1440px) {
  .nav-item__link {
    padding: 42px 1px;
    font-size: 16px;
    line-height: 3.125;
    font-weight: 400;
  }
}
.nav-item__link:hover, .nav-item__link:focus, .nav-item__link:active {
  color: #e06733;
  font-weight: 700;
}
.nav button {
  padding: 0;
}
.nav .burger-menu {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .nav .burger-menu {
    display: none;
  }
}

.popup {
  position: fixed;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: #edf2ec;
  z-index: 100;
  display: flex;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .popup {
    visibility: hidden;
  }
}

.popup.open {
  left: 0;
}

.popup .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  overflow: auto;
}

.burger-menu.active .burger-menu__icon {
  display: none;
}

.burger-menu__icon-close {
  display: none;
  fill: #717171;
}

.burger-menu.active .burger-menu__icon-close {
  display: block;
}

.welcome-btn {
  padding: 7px 16px 5px;
  font-size: 10px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .welcome-btn {
    padding: 11px 26px;
    margin-bottom: 31.4px;
    font-size: 16px;
    line-height: 1.25;
  }
}
.welcome-btn:hover, .welcome-btn:focus {
  color: #ffffff;
  background-color: #e06733;
}
.welcome__text {
  font-size: 17px;
  line-height: 1.4705882353;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .welcome__text {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .welcome__text {
    margin-bottom: 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75;
  }
}
.welcome-container {
  padding-top: 24px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .welcome-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .welcome-container {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}
@media screen and (min-width: 768px) {
  .welcome__background {
    background-image: url("../img/leafs.png");
    background-repeat: no-repeat;
    background-size: 280px;
    background-position-x: right;
  }
}
@media screen and (min-width: 1440px) {
  .welcome__background {
    background-size: 449px;
    background-position-x: left;
  }
}
@media screen and (min-width: 768px) {
  .welcome__wrapper {
    width: 341px;
  }
}
@media screen and (min-width: 1440px) {
  .welcome__wrapper {
    margin-left: auto;
    min-width: 549px;
    padding-top: 36px;
  }
}
.welcome__header {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .welcome__header {
    font-size: 35px;
    line-height: 1.4285714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .welcome__header {
    font-size: 45px;
    line-height: 1.1111111111;
    margin-bottom: 42px;
  }
}
.welcome__header span {
  color: #499a18;
}

.about {
  background-color: #ffffff;
}
.about-container {
  padding-top: 30px;
  padding-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .about-container {
    padding-top: 40px;
    padding-bottom: 95px;
  }
}
@media screen and (min-width: 1440px) {
  .about-container {
    display: flex;
    gap: 153px;
    padding-top: 93px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1440px) {
  .about__wrapper {
    padding-top: 68px;
    padding-bottom: 61px;
    margin-bottom: 0;
  }
}
.about__background {
  width: 150px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .about__background {
    width: 250px;
  }
}
@media screen and (min-width: 1440px) {
  .about__background {
    width: 100%;
    background-position: left;
  }
}
.about__header {
  text-align: center;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .about__header {
    max-width: 423px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .about__header {
    margin-bottom: 39px;
    max-width: 549px;
    text-align: start;
    margin-left: 0;
  }
}
.about__header span {
  color: #e06733;
}

.about__text {
  font-size: 15px;
  line-height: 1.6666666667;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1440px) {
  .about__text {
    width: 605px;
  }
}

.service .wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 38px;
}
@media screen and (min-width: 768px) {
  .service .wrapper {
    gap: 42px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .service .wrapper {
    flex-direction: row;
    gap: 142px;
    margin-bottom: 78px;
  }
}
.service-container {
  padding-top: 30px;
  padding-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .service-container {
    padding-top: 60px;
    padding-bottom: 63px;
  }
}
@media screen and (min-width: 1440px) {
  .service-container {
    padding-top: 38px;
    padding-bottom: 121px;
  }
}
.service__header {
  max-width: 187px;
}
@media screen and (min-width: 768px) {
  .service__header {
    max-width: 306px;
  }
}
.service__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .service__buttons {
    gap: 38px;
  }
}
.service-btn {
  padding: 6px 29px 7px;
  min-width: 121px;
  font-family: "Inika", serif;
  font-size: 15px;
  line-height: 1.3333333333;
  border-radius: 5px;
  color: #e06733;
}
@media screen and (min-width: 768px) {
  .service-btn {
    min-width: 161px;
    padding: 10px 40px;
    font-size: 20px;
    line-height: 1.3;
  }
}
.service__gallery {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .service__gallery {
    row-gap: 38px;
    -moz-column-gap: 107px;
         column-gap: 107px;
  }
}
@media screen and (min-width: 1440px) {
  .service__gallery {
    row-gap: 55px;
    -moz-column-gap: 117px;
         column-gap: 117px;
  }
}
.service__gallery-item {
  max-width: 280px;
  transition: filter 300ms ease-in-out;
}
@media screen and (min-width: 1440px) {
  .service__gallery-item {
    max-width: 329px;
  }
}
.service__gallery-image {
  width: 280px;
  border-radius: 20px 20px 0 0;
}
@media screen and (max-width: 767px) {
  .service__gallery-image {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .service__gallery-image {
    width: 329px;
  }
}
.service__gallery-text {
  padding-top: 10px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-radius: 0 0 20px 20px;
}
@media screen and (min-width: 768px) {
  .service__gallery-text {
    padding-bottom: 20px;
    padding-left: 38px;
    padding-right: 38px;
  }
}
@media screen and (min-width: 1440px) {
  .service__gallery-text {
    padding-bottom: 36px;
  }
}
.service__gallery .gallery-item-header {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  font-family: "Inter", sans-serif;
  color: #e06733;
}
.service__gallery .gallery-item-header + p {
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.service .active {
  background-color: #e06733;
  color: #ffffff;
}
.service .blur {
  filter: blur(10px);
}

.prices {
  background-color: #ffffff;
}
.prices-container {
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
@media screen and (min-width: 768px) {
  .prices-container {
    padding-top: 40px;
    gap: 20px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .prices-container {
    gap: 0;
    align-items: flex-start;
    padding-top: 40px;
  }
}
.prices-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .prices-wrapper {
    flex-direction: row;
  }
}
.prices-block {
  display: inline-block;
  padding: 29px 22px;
  margin-bottom: 21px;
  border-radius: 20px;
  border: 1px solid #e3e1d5;
}
@media screen and (min-width: 768px) {
  .prices-block {
    padding: 32px 41px;
    margin-bottom: 0;
  }
}
.prices-block__item {
  max-width: 180px;
  padding: 15px 40px 15px 30px;
  background-color: #edf2ec;
  border-radius: 20px;
  border: 1px solid inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .prices-block__item {
    min-width: 180px;
  }
}
@media screen and (min-width: 768px) {
  .prices-block__item {
    min-width: 250px;
    padding: 16px 40px 16px 40px;
  }
}
@media screen and (min-width: 1440px) {
  .prices-block__item {
    max-width: 250px;
  }
}
.prices-block__item:not(:last-of-type) {
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .prices-block__item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
.prices-block span {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3333333333;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .prices-block span {
    font-size: 20px;
    line-height: 1;
  }
}
.prices-block__btn {
  background-color: #d9d9d9;
}
.prices-arrow {
  stroke: #717171;
}
.prices__header {
  margin-bottom: 38px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .prices__header {
    margin-bottom: 55px;
    text-align: start;
    font-size: 38px;
    line-height: 1.2631578947;
  }
}
@media screen and (min-width: 768px) {
  .prices .prices-box {
    align-self: flex-start;
  }
}
.prices .contact {
  text-align: center;
  max-width: 230px;
  margin: 0 auto;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .prices .contact {
    max-width: 100%;
    padding-bottom: 77px;
    text-align: end;
  }
}
@media screen and (min-width: 1400px) {
  .prices .contact {
    margin: 0;
    padding-bottom: 115px;
    margin-left: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.prices .contact .prices-contact__image {
  display: none;
}
@media screen and (min-width: 768px) {
  .prices .contact .prices-contact__image {
    display: flex;
    justify-content: flex-end;
  }
}
.prices .contact-header {
  max-width: 452px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.75;
  font-family: "Inter", sans-serif;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .prices .contact-header {
    margin-bottom: 26px;
    font-size: 25px;
    line-height: 1.4;
  }
}
@media screen and (min-width: 1440px) {
  .prices .contact-header {
    margin-bottom: 38px;
    font-size: 40px;
    line-height: 1.25;
  }
}
.prices .contact-header span {
  color: #499a18;
}
.prices .contact-btn {
  padding: 8px 24px 6px;
  color: #e06733;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3333333333;
  font-family: "Inika", serif;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .prices .contact-btn {
    padding: 11px 32px;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 34px;
  }
}
.prices .contact-btn:hover, .prices .contact-btn:focus {
  color: #ffffff;
  background-color: #e06733;
}
.prices .accordion-item {
  display: block;
}
.prices .accordion-open-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.prices .accordion-btn-icon {
  mask-image: url(../img/arrow.svg);
  -webkit-mask-image: url(../img/arrow.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: #717171;
  width: 6px;
  height: 4px;
}
.prices .accordion-item.active > .accordion-header > .accordion-open-btn > .accordion-btn-icon {
  background-color: #ffffff;
}
.prices .accordion-item.active > .accordion-header > .accordion-open-btn {
  transform: rotate(-180deg);
  background-color: #aea1a1;
}
.prices .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prices .accordion-body {
  font-family: "Inter";
  margin-top: 12px;
  display: none;
}
.prices .accordion-item.active > .accordion-body {
  display: block;
}
.prices .accordion-item:hover,
.prices .accordion-item:focus,
.prices .accordion-item.active {
  background-color: #d6e7d2;
}
.prices .accordion-body-text {
  padding-top: 6px;
  margin-bottom: 12px;
  font-weight: 300;
  font-size: 10px;
  line-height: 1;
  border-top: 1px solid #717171;
  /* or 100% */
  color: #717171;
}
.prices .accordion-body-price {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6666666667;
  color: #000000;
}
.prices .accordion-body-price span {
  font-weight: 700;
  color: #e06733;
}
.prices .accordion-body-button {
  padding: 5px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #717171;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4285714286;
  cursor: pointer;
}
.prices .accordion-body-button:hover, .prices .accordion-body-button:focus {
  background-color: #e06733;
  color: #ffffff;
}

.contacts-container {
  padding: 25px 42px 0 42px;
}
@media screen and (min-width: 768px) {
  .contacts-container {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts-container {
    padding-top: 55px;
    padding: 25px 109px 0 109px;
  }
}
.contacts .wrapper {
  height: 420px;
  background-size: 100px;
  background-position: bottom;
  background-image: url("../img/contact_woman.png");
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .contacts .wrapper {
    background-size: 200px;
    height: 700px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts .wrapper {
    height: 497px;
    background-size: 400px;
    background-position: left bottom;
  }
}
.contacts__header {
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  line-height: 1.32;
}
@media screen and (min-width: 768px) {
  .contacts__header {
    margin-bottom: 61px;
    font-size: 40px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1440px) {
  .contacts__header {
    margin-bottom: 37px;
  }
}
.contacts__btn {
  background-color: #aea1a1;
}

.dropdown {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .dropdown {
    max-width: 450px;
  }
}
.dropdown__button {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  box-shadow: none;
  background: #c1e698;
  padding: 5px 20px 5px 20px;
  width: 100%;
  letter-spacing: 0.05em;
  border: 1px solid #d6e7d2;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .dropdown__button {
    padding: 7px 20px 7px 20px;
  }
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: 15px;
  mask-image: url(../img/arrow.svg);
  -webkit-mask-image: url(../img/arrow.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: #717171;
  pointer-events: none;
  transition: 200ms ease;
}
.dropdown__button_active {
  box-shadow: none;
  background: #c1e698;
}
.dropdown__button_active::after {
  transform: translateY(-50%) rotate(-180deg);
}
.dropdown .default {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #717171;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dropdown__list {
  width: 100%;
  margin: 0;
  padding: 15px 0;
  position: absolute;
  left: 0;
  top: 100%;
  list-style-type: none;
  border: 1px solid #e6eaed;
  background: #dce9d9;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.dropdown__list_visible {
  opacity: 1;
  visibility: visible;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.dropdown__list-item {
  margin: 0;
  margin: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 40px;
  color: #499a18;
  letter-spacing: 0.05em;
  padding-left: 7px;
  padding-right: 7px;
  border-bottom: 1px solid transparent;
}
.dropdown__list-item:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}
.dropdown__input_hidden {
  display: none;
}

@media screen and (min-width: 1440px) {
  .right-side {
    max-width: 450px;
    margin-left: auto;
  }
}

.address-box {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 36px 23px;
  border: 1px solid #000000;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .address-box {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .address-box-list {
    margin-bottom: 24px;
  }
}
.address-box-item {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  color: #717171;
}
@media screen and (min-width: 1440px) {
  .address-box-item {
    line-height: 40px;
    padding: 0;
  }
}
.address-box .item-left {
  width: 65px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .address-box .item-left {
    width: 125px;
  }
}
.address-box-btn {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  padding: 8px 38px;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #717171;
}

footer {
  background-color: #fff;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 1440px) {
  footer {
    line-height: 2.5;
  }
}
footer a:hover {
  color: #e06733;
  fill: #e06733;
  stroke: #e06733;
}
footer .footer-container {
  padding-top: 21px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  footer .footer-container {
    padding-top: 33px;
    padding-bottom: 30px;
    gap: 17px;
  }
}
@media screen and (min-width: 1440px) {
  footer .footer-container {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 0;
  }
}
footer .footer__contacts, footer .footer__social {
  display: inline-flex;
  gap: 20px;
}
footer .footer__social a {
  width: 32px;
  height: 32px;
  transition-property: fill, stroke, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}/*# sourceMappingURL=main.css.map */