.about {
  background-color: $white;

  &-container {
    padding-top: 30px;
    padding-bottom: 27px;
    @media screen and (min-width: 768px) {
      padding-top: 40px;
      padding-bottom: 95px;
    }
    @media screen and (min-width: 1440px) {
      display: flex;
      gap: 153px;
      // justify-content: space-between;
      padding-top: 93px;
      padding-bottom: 94px;
    }
  }

  &__wrapper {
    @media screen and (min-width: 768px) {
      margin-bottom: 66px;
    }
    @media screen and (min-width: 1440px) {
      // width: 549px;
      padding-top: 68px;
      padding-bottom: 61px;
      margin-bottom: 0;
    }
  }

  &__background {
    width: 150px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      width: 250px;
    }
    @media screen and (min-width: 1440px) {
      width: 100%;
      background-position: left;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      max-width: 423px;
      margin-bottom: 50px;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 39px;
      max-width: 549px;
      text-align: start;
      margin-left: 0;
    }

    & span {
      color: $orange;
    }
  }
}

.about__text {
  font-size: 15px;
  line-height: calc(25 / 15);
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: calc(30 / 20);
  }
  @media screen and (min-width: 1440px) {
    width: 605px;
  }
}
