.about {
  background-color: $white;

  &-container {
    display: flex;
    gap: 153px;
    padding-top: 93px;
    padding-bottom: 94px;
  }

  &__header {
    max-block-size: 463px;
    margin-top: 68px;
    margin-bottom: 40px;

    & span {
      color: $orange;
    }
  }
}
