.about {
  background-color: $white;

  &-container {
    padding-top: 93px;
    padding-bottom: 94px;
  }

  &__wrapper {
    width: 549px;
    padding-top: 68px;
    padding-bottom: 61px;
  }

  &__background {
    background-image: url('../img/houseplant.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  &__header {
    max-width: 463px;
    margin-bottom: 39px;

    & span {
      color: $orange;
    }
  }
}

.about__text {
  width: 605px;
  font-size: 20px;
  line-height: calc(30 / 20);
}
