.contacts {
  &-container {
    padding-top: 25px;
    @media screen and (min-width: 768px) {
      padding-top: 55px;
    }
  }

  & .wrapper {
    height: 418px;
    background-size: 100px;
    background-position: bottom;
    background-image: url('../img/contact_woman.png');
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      height: 497px;
    }
  }

  &__header {
    margin-bottom: 80px;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    line-height: calc(33 / 25);
    @media screen and (min-width: 768px) {
      margin-bottom: 37px;
      font-size: 40px;
      line-height: calc(52 / 40);
    }
  }

  .select {
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px 7px 20px;
    margin: 0 auto;

    background: $select-background;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 768px) {
      width: 450px;
      margin-left: auto;
      padding: 5px 35px 5px 20px;
    }

    &-arrow {
      stroke: $white;
    }
  }

  &__btn {
    background-color: $select-arrow;
  }
}

// .arrow {
//   stroke: $white;
// }
