.contacts {
  &-container {
    padding-top: 55px;
  }

  & .wrapper {
    height: 497px;
    background-image: url('../img/contact_woman.png');
    background-repeat: no-repeat;
  }

  &__header {
    margin-bottom: 37px;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    line-height: calc(52 / 40);
  }

  .select {
    width: 450px;
    margin-left: auto;
    padding: 5px 35px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $select-background;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &-arrow {
      stroke: $white;
    }
  }

  &__btn {
    background-color: $select-arrow;
  }
}

// .arrow {
//   stroke: $white;
// }
