.contacts {
  &-container {
    padding: 25px 42px 0 42px;

    @media screen and (min-width: 768px) {
      padding-top: 40px;
    }
    @media screen and (min-width: 1440px) {
      padding-top: 55px;
      padding: 25px 109px 0 109px;
    }
  }

  & .wrapper {
    height: 420px;
    background-size: 100px;
    background-position: bottom;
    background-image: url('../img/contact_woman.png');
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
      background-size: 200px;
      height: 700px;
    }
    @media screen and (min-width: 1440px) {
      height: 497px;
      background-size: 400px;
      background-position: left bottom;
    }
  }

  &__header {
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    line-height: calc(33 / 25);
    @media screen and (min-width: 768px) {
      margin-bottom: 61px;
      font-size: 40px;
      line-height: calc(52 / 40);
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 37px;
    }
  }

  &__btn {
    background-color: $select-arrow;
  }
}

.dropdown {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  position: relative;
  @media screen and (min-width: 768px) {
    max-width: 450px;
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(40 / 16);
    box-shadow: none;
    background: $active-select;
    padding: 5px 20px 5px 20px;
    width: 100%;
    letter-spacing: 0.05em;

    border: 1px solid $select-background;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      padding: 7px 20px 7px 20px;
    }

    // mask-image: url(../img/arrow.svg);
    // -webkit-mask-image: url(../img/arrow.svg);
    // mask-repeat: no-repeat;
    // mask-size: contain;
    // mask-position: center;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      height: 15px;

      mask-image: url(../img/arrow.svg);
      -webkit-mask-image: url(../img/arrow.svg);
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-color: $grey;

      // background: url('../img/arrow.svg') 100% 100%;
      pointer-events: none;
      transition: 200ms ease;
    }
    &_active {
      box-shadow: none;
      background: $active-select;
      &::after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }

  .default {
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: $grey;

    background: $select-background;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    position: absolute;
    left: 0;
    top: 100%;
    list-style-type: none;
    border: 1px solid #e6eaed;
    background: $select-dropdown;
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    @extend %transition;
    &_visible {
      opacity: 1;
      visibility: visible;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    &-item {
      margin: 0;
      margin: 12px 20px;
      cursor: pointer;
      font-size: 16px;
      line-height: 40px;
      color: #499a18;
      letter-spacing: 0.05em;
      padding-left: 7px;
      padding-right: 7px;
      border-bottom: 1px solid transparent;
      @extend %transition;

      &:hover {
        color: #717171;
        border-bottom: 1px solid #717171;
      }
    }
  }
  &__input {
    // font-size: 10px;
    &_hidden {
      display: none;
    }
  }
}

.right-side {
  @media screen and (min-width: 1440px) {
    max-width: 450px;
    margin-left: auto;
  }
}

.address-box {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px 36px 23px;
  border: 1px solid #000000;
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  @media screen and (min-width: 768px) {
    max-width: 450px;
  }

  &-list {
    @media screen and (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &-item {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    // letter-spacing: 0.05em;
    color: #717171;
    @media screen and (min-width: 1440px) {
      line-height: 40px;
      padding: 0;
    }
  }

  .item-left {
    width: 65px;
    color: #000000;
    // line-height: 20px;
    @media screen and (min-width: 768px) {
      width: 125px;
    }
  }

  &-btn {
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    padding: 8px 38px;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #717171;
  }
}
