footer {
  background-color: #fff;
  color: $black;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);

  @media screen and (min-width: 1440px) {
    line-height: calc(50 / 20);
  }

  a:hover {
    color: $orange;
    fill: $orange;
    stroke: $orange;
  }

  .footer {
    &-container {
      padding-top: 21px;
      padding-bottom: 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 15px;
      @media screen and (min-width: 768px) {
        padding-top: 33px;
        padding-bottom: 30px;
        gap: 17px;
      }
      @media screen and (min-width: 1440px) {
        flex-direction: row;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 0;
      }
    }

    &__contacts,
    &__social {
      display: inline-flex;
      gap: 20px;
    }

    &__social a {
      width: 32px;
      height: 32px;
      @extend %centered;
      transition-property: fill, stroke, color;
      transition-duration: $transition-duration;
      transition-timing-function: $transition-timing-function;
    }
  }
}
