.logo {
  display: flex;
  // gap: 1px;
  align-items: baseline;
  font-size: 16px;
  line-height: calc(21 / 16);
  font-family: $inika;
  color: #000000;

  & span {
    font-size: 16px;
    line-height: calc(21 / 16);
    font-weight: 400;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-list {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 46px;
    }
  }

  &-item {
    padding: 42px 1px;
    &__link {
      line-height: calc(50 / 16);
      font-family: $inika;
      font-size: 16px;
      color: $links-color;
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
      color: $orange;
      font-weight: 700;
      @extend %transition;
    }
  }
  button {
    padding: 0;
  }

  .burger-menu {
    background-color: transparent;
    border: none;
    padding-top: 35px;
    padding-bottom: 35px;
    @media screen and (min-width: 768px) {
      display: none;
    }

    &__icon {
      // padding: 0;
    }
  }
}
