header {
  padding-top: 35px;
  padding-bottom: 35px;
}

.logo {
  display: flex;
  align-items: baseline;
  font-size: 16px;
  line-height: calc(21 / 16);
  font-family: $inika;
  color: #000000;

  & span {
    font-size: 16px;
    line-height: calc(21 / 16);
    font-weight: 400;
  }
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    gap: 46px;
  }
}

.navbar__wrap .menu {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav {
  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 46px;
    }
  }

  &-item {
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      padding: 35px 1px;
    }
    @media screen and (min-width: 1440px) {
      padding: 42px 1px;
    }

    &__link {
      padding: 10px 1px;
      line-height: calc(50 / 20);
      font-family: $inika;
      font-size: 24px;
      // font-weight: 700;
      color: $links-color;
      @media screen and (min-width: 768px) and (max-width: 1439px) {
        padding: 35px 1px;
        font-size: 16px;
        line-height: calc(50 / 16);
        font-weight: 400;
      }
      @media screen and (min-width: 1440px) {
        padding: 42px 1px;
        font-size: 16px;
        line-height: calc(50 / 16);
        font-weight: 400;
      }
    }

    &__link:hover,
    &__link:focus,
    &__link:active {
      color: $orange;
      font-weight: 700;
      @extend %transition;
    }
  }
  button {
    padding: 0;
  }

  .burger-menu {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    // padding-top: 35px;
    // padding-bottom: 35px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.popup {
  position: fixed;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  z-index: 100;
  display: flex;
  transition: 0.5s;
  @media screen and (min-width: 768px) {
    visibility: hidden;
  }
}

.popup.open {
  left: 0;
}

.popup .menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  padding: 50px 0;
  overflow: auto;
}

.burger-menu.active .burger-menu__icon {
  display: none;
}

.burger-menu__icon-close {
  display: none;
  fill: $grey;
}

.burger-menu.active .burger-menu__icon-close {
  display: block;
}
