.prices {
  background-color: $white;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      padding-top: 40px;
      padding-bottom: 115px;
    }
  }

  &-block {
    display: inline-block;
    padding: 29px 22px;
    margin-bottom: 21px;
    border-radius: 20px;
    border: 1px solid $border-color;

    @media screen and (min-width: 768px) {
      padding: 32px 41px;
    }

    &__item {
      min-width: 180px;
      padding: 15px 40px 15px 30px;
      background-color: $background-color;
      border-radius: 20px;
      border: 1px solid inherit;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 768px) {
        min-width: 250px;
        padding: 16px 40px 16px 40px;
      }
    }

    &__item:not(:last-of-type) {
      margin-bottom: 12px;

      @media screen and (min-width: 768px) {
        margin-bottom: 30px;
      }
    }

    & span {
      display: inline-block;
      // padding: 16px 40px;
      font-family: $inter;
      font-weight: 700;
      font-size: 15px;
      line-height: calc(20 / 15);
      color: $black;

      @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: calc(20 / 20);
      }
    }

    &__btn {
      background-color: $arrow-background;
    }
  }

  &-arrow {
    stroke: $grey;
  }

  &__header {
    margin-bottom: 38px;
    font-size: 25px;
    font-weight: 700;
    line-height: calc(30 / 25);
    font-family: $inter;
    color: $black;
    @media screen and (min-width: 768px) {
      margin-bottom: 60px;
      font-size: 40px;
      line-height: calc(48 / 40);
    }
  }

  .contact {
    text-align: center;
    max-width: 230px;
    margin: 0 auto;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
      max-width: 100%;
      padding-bottom: 0;
      background-image: url('../img/leafsSmall.png');
      background-repeat: no-repeat;
      background-position: right bottom;
      text-align: end;
    }
  }

  .contact-header {
    max-width: 452px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(35 / 20);
    font-family: $inter;
    color: $black;

    @media screen and (min-width: 768px) {
      margin-bottom: 38px;
      font-size: 40px;
      line-height: calc(50 / 40);
    }

    & span {
      color: $green;
    }
  }

  .contact-btn {
    padding: 8px 24px 6px;
    color: $orange;
    font-weight: 700;
    font-size: 15px;
    line-height: calc(20 / 15);
    font-family: $inika;
    border-radius: 5px;
    @media screen and (min-width: 768px) {
      padding: 11px 32px;
      font-size: 20px;
      line-height: calc(26 / 20);
    }

    &:hover,
    &:focus {
      color: $white;
    }
  }
}
