.prices {
  background-color: $white;

  &-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    @media screen and (min-width: 768px) {
      padding-top: 40px;
      gap: 20px;
      flex-direction: row;
    }
    @media screen and (min-width: 1440px) {
      gap: 0;
      align-items: flex-start;
      padding-top: 40px;
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &-block {
    display: inline-block;
    padding: 29px 22px;
    margin-bottom: 21px;
    border-radius: 20px;
    border: 1px solid $border-color;

    @media screen and (min-width: 768px) {
      padding: 32px 41px;
      margin-bottom: 0;
    }

    &__item {
      max-width: 180px;
      padding: 15px 40px 15px 30px;
      background-color: $background-color;
      border-radius: 20px;
      border: 1px solid inherit;

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: 320px) {
        min-width: 180px;
      }

      @media screen and (min-width: 768px) {
        min-width: 250px;
        padding: 16px 40px 16px 40px;
      }
      @media screen and (min-width: 1440px) {
        max-width: 250px;
      }
    }

    &__item:not(:last-of-type) {
      margin-bottom: 12px;

      @media screen and (min-width: 768px) {
        margin-bottom: 30px;
      }
    }

    & span {
      display: inline-block;
      // padding: 16px 40px;
      font-family: $inter;
      font-weight: 700;
      font-size: 15px;
      line-height: calc(20 / 15);
      color: $black;

      @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: calc(20 / 20);
      }
    }

    &__btn {
      background-color: $arrow-background;
    }
  }

  &-arrow {
    stroke: $grey;
  }

  &__header {
    margin-bottom: 38px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: calc(30 / 25);
    font-family: $inter;
    color: $black;
    @media screen and (min-width: 768px) {
      margin-bottom: 55px;
      text-align: start;
      font-size: 38px;
      line-height: calc(48 / 38);
    }
    @media screen and (min-width: 1440px) {
    }
  }

  .prices-box {
    @media screen and (min-width: 768px) {
      align-self: flex-start;
    }
  }

  .contact {
    text-align: center;
    max-width: 230px;
    margin: 0 auto;
    padding-bottom: 40px;
    @media screen and (min-width: 768px) {
      max-width: 100%;
      padding-bottom: 77px;
      text-align: end;
    }
    @media screen and (min-width: 1400px) {
      margin: 0;
      padding-bottom: 115px;
      margin-left: auto;
      height: fit-content;
    }

    .prices-contact__image {
      display: none;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .contact-header {
    max-width: 452px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: calc(35 / 20);
    font-family: $inter;
    color: $black;

    @media screen and (min-width: 768px) {
      margin-bottom: 26px;
      font-size: 25px;
      line-height: calc(35 / 25);
      // padding-top: 100px;
    }
    @media screen and (min-width: 1440px) {
      margin-bottom: 38px;
      font-size: 40px;
      line-height: calc(50 / 40);
      // padding-top: 0;
    }

    & span {
      color: $green;
    }
  }

  .contact-btn {
    padding: 8px 24px 6px;
    color: $orange;
    font-weight: 700;
    font-size: 15px;
    line-height: calc(20 / 15);
    font-family: $inika;
    border-radius: 5px;
    @media screen and (min-width: 768px) {
      padding: 11px 32px;
      font-size: 20px;
      line-height: calc(26 / 20);
      margin-bottom: 34px;
    }

    &:hover,
    &:focus {
      color: $white;
      background-color: $orange;
    }
  }

  .accordion-item {
    display: block;
    @extend %transition;
  }

  .accordion-open-btn {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    @extend %transition;
  }

  .accordion-btn-icon {
    mask-image: url(../img/arrow.svg);
    -webkit-mask-image: url(../img/arrow.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-color: $grey;
    width: 6px;
    height: 4px;
    @extend %transition;
  }

  .accordion-item.active
    > .accordion-header
    > .accordion-open-btn
    > .accordion-btn-icon {
    background-color: $white;
  }

  .accordion-item.active > .accordion-header > .accordion-open-btn {
    transform: rotate(-180deg);
    background-color: $select-arrow;
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // cursor: pointer;
  }

  .accordion-body {
    font-family: 'Inter';
    margin-top: 12px;
    display: none;
    // transition: display 1s ease-in-out;
  }

  .accordion-item.active > .accordion-body {
    display: block;
  }

  .accordion-item:hover,
  .accordion-item:focus,
  .accordion-item.active {
    background-color: #d6e7d2;
  }

  .accordion-body-text {
    padding-top: 6px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 10px;
    line-height: 1;
    border-top: 1px solid $grey;
    /* or 100% */

    color: $grey;
  }

  .accordion-body-price {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(20 / 12);
    color: $black;

    & span {
      font-weight: 700;
      color: $orange;
    }
  }

  .accordion-body-button {
    padding: 5px 25px;
    background-color: $white;
    border-radius: 10px;
    color: $grey;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(20 / 14);
    cursor: pointer;
    @extend %transition;

    &:hover,
    &:focus {
      background-color: $orange;
      color: $white;
    }
  }
}
