.service {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 38px;

    @media screen and (min-width: 768px) {
      gap: 42px;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 1440px) {
      flex-direction: row;
      gap: 142px;
      margin-bottom: 78px;
    }
  }
  &-container {
    padding-top: 30px;
    padding-bottom: 27px;
    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 63px;
    }
    @media screen and (min-width: 1440px) {
      padding-top: 38px;
      padding-bottom: 121px;
    }
  }
  &__header {
    max-width: 187px;
    @media screen and (min-width: 768px) {
      max-width: 306px;
    }
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    @media screen and (min-width: 768px) {
      gap: 38px;
    }
  }

  &-btn {
    padding: 6px 29px 7px;
    min-width: 121px;
    font-family: $inika;
    font-size: 15px;
    line-height: calc(20 / 15);
    border-radius: 5px;
    color: $orange;

    @media screen and (min-width: 768px) {
      min-width: 161px;
      padding: 10px 40px;
      font-size: 20px;
      line-height: calc(26 / 20);
    }
  }

  &__gallery {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 768px) {
      row-gap: 38px;
      column-gap: 107px;
    }
    @media screen and (min-width: 1440px) {
      row-gap: 55px;
      column-gap: 117px;
    }

    &-item {
      max-width: 280px;
      transition: filter $transition-duration
        $transition-timing-function;

      @media screen and (min-width: 1440px) {
        max-width: 329px;
      }
    }
    &-image {
      width: 280px;
      border-radius: 20px 20px 0 0;
      @media screen and (max-width: 767px) {
        margin: 0 auto;
      }
      @media screen and (min-width: 1440px) {
        width: 329px;
      }
    }
    &-text {
      padding-top: 10px;
      padding-bottom: 18px;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
      border: 1px solid $border-color;
      border-radius: 0 0 20px 20px;
      @media screen and (min-width: 768px) {
        padding-bottom: 20px;
        padding-left: 38px;
        padding-right: 38px;
      }
      @media screen and (min-width: 1440px) {
        padding-bottom: 36px;
      }
    }

    .gallery-item-header {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      font-family: $inter;
      color: $orange;

      & + p {
        // max-width: 201px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 400;
        line-height: calc(20 / 16);

        @media screen and (min-width: 1440px) {
          // max-width: 100%;
        }
      }
    }
  }
  .active {
    background-color: $orange;
    color: $white;
  }
  .blur {
    filter: blur(10px);
  }
}
