.welcome {
  &-btn {
    padding: 14px 27px;
    margin-bottom: 31.4px;
  }

  &-container {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  &__background {
    background-image: url('../img/leafs.png');
    background-repeat: no-repeat;
  }

  &__wrapper {
    width: 549px;
    padding-top: 36px;
    margin-left: auto;
    // padding-bottom: 94px;
  }

  &__header {
    font-weight: 700;
    font-size: 45px;
    line-height: calc(50 / 45);
    margin-bottom: 42px;

    & span {
      color: $green;
    }
  }

  &__text {
    margin-bottom: 48px;
  }
}
